
body {
    background-color: #d7efff;
}

.font {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-title {
    box-sizing: border-box;
    background-color: #76c2f4;
    border: #2fa2ee 2px solid;
}

.topbar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 70px;
    overflow: hidden;
    box-sizing: inherit;
    background-color: white;
    z-index: 1;
}

.home-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

.link-box {
    float: left;
    font-size: 1.5rem;
    margin: 20px;
}

.link-item {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.link-item:hover:not(.active) {
    background-color: #ffe370;
}

.active {
    background-color: #ffe370;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.welcome-section-grid {
    position: relative;
    text-align: center;
}

.welcome-section-image-display {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.welcome-section-image {
    padding: 0;
    margin: 0;
    height: 200px;
    width: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
float: left;
width: 50%;
}

