
body {
    background-color: white;
}

.topbar {
    width: 100%;
    position: relative;
    height: 70px;
    overflow: hidden;
    box-sizing: inherit;
    background-color: #2fa2ee;
}

.home-navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
 }

.link-box {
    float: left;
    font-size: 1.5rem;
    margin: 20px;
    
}

.link-item {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.link-item:hover {
    background-color: #FFD21F;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.welcome-section {
    
}
